@tailwind base;
@tailwind components;
@tailwind utilities;


#landing, #teams, #matches{
    background: #a5b4fc;
}

#standings{
    background: #a5b4fc;
}

.custom-svg-color {
margin-left: 12px;
margin-top: 12px;
filter: invert(1) brightness(2);
      
        }
  